/*selector{
	property : value ;
}*/

*{
	text-align: center;
	background: url(https://images.saymedia-content.com/.image/t_share/MTc4NzM1OTc4MzE0MzQzOTM1/how-to-create-cool-website-backgrounds-the-ultimate-guide.png);
	/*display: grid;*/
	font-family: 'Amiri', serif;
font-family: 'Baloo Bhaijaan 2', cursive;
/*font-family: 'Dancing Script', cursive;*/
/*font-family: 'Edu NSW ACT Foundation', cursive;*/
/*font-family: 'Edu TAS Beginner', cursive;*/
/*font-family: 'IBM Plex Sans Arabic', sans-serif;*/
/*font-family: 'Markazi Text', serif;*/
	font-size: 30px;


}
li > ul{
	color: red;
}
footer{
	clear: both;
	color: black;
	text-align: center;
	transition: all 1s;



}
body{
	text-transform: uppercase;
	line-height: 20px;
	font-style: italic;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	/*background: url(ایران+خودرو.jpg);*/
	background-clip: inherit;
	
}
* {
	text-align: right;
}
/*h2 {
	border:solid 5px steelblue;
}*/
h2 {
	font-family:initial;
	color: white;
	font-family: 'Baloo Bhaijaan 2', cursive;
	transition: all 1s;
	text-align: center;
}
h2:hover{
	transform: scale(1.1);
}
footer:hover{
	/*color: white;
	background-color: black;*/
	clear: both;
	transform: scale(1.1);
	color: white;

}
/*.hrs{
	width: 300px 300px;
	height: 300px;
}*/
.webh{
	color: white;
}
.webn{
	color: white;
	transition:all 1s;


}
.webn:hover:{
	transform: scale(1.1);
}
a{
	transition:all 1s;
}
a:hover{
	transform: scale(1.1);
}
*{
	text-align: center;
}
title{
	transition: all 1s;
}
title:hover{
	transform: scale(1.1);
}

